.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#result {
  height: 20vh;
  width: 100vh;
  color: black;
  background: rgb(216, 214, 214);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.btn {
  width: 25vh;
  height: 10vh;
  font-size: 20px;
}
.btn0{
  width: 50vh;
  height: 10vh;
  font-size: 20px;
}
.btndot{
  width: 25vh;
  height: 10vh;
  font-size: 20px;
}
.operator{
  width: 25vh;
  height: 10vh;
  font-size: 20px;
  background:orangered;
}
.operatorequals{
  width: 25vh;
  height: 10vh;
  font-size: 20px;
  background:green;
}

